# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
.output
dist-ssr
spaDist
blogDist
*.local
.env
.env.production


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# package directories
node_modules
jspm_packages

# CDK directories
cdk.out/
*.js
*.d.ts
.cdk.staging
cdk.out
cdk.context.json